---
import {SEO} from "astro-seo"
export const getStaticPaths = async () => {
  //load astro glob with utf-8 encoding

  const posts = await Astro.glob("../content/blog/**/*.md*")

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
  }))
}

const posts = await Astro.glob("../content/blog/**/*.md*")
const {slug} = Astro.params
const post = posts.find((post) => post.frontmatter.slug === slug) || {
  Content: () => null,
}

const {Content, frontmatter} = post

const contentPath = `https://github.com/joelhooks/joelhooks-astro/edit/main/src/content/blog${
  post.file.split("src/content/blog")[1]
}`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={frontmatter?.title}
      description={frontmatter?.description}
      twitter={{
        card: "summary_large_image",
        site: "@jhooks",
        creator: "@jhooks",
      }}
      openGraph={{
        image: {
          alt: "Joel Hooks",
        },
        basic: {
          title: frontmatter.title,
          type: "article",
          image: `https://res.cloudinary.com/badass-courses/image/fetch/v1665602232/https://joelhooks-opengraph-images.netlify.app/opengraph?title=${encodeURIComponent(
            frontmatter.title
          )}&author=${encodeURIComponent("https://twitter.com/jhooks")}&v=${
            process.env.OG_IMAGE_VERSION
          }`,
        },
        optional: {
          description: frontmatter.description,
        },
      }}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main class="prose p-2 pb-20">
      <a href="/">Home</a>
      {
        frontmatter?.banner && (
          <img
            src={`https://res.cloudinary.com/badass-courses/image/fetch/v1665602232/https://joelhooks.com/${frontmatter.banner}`}
            alt={frontmatter.title}
            class="w-full"
          />
        )
      }
      <h1>{frontmatter.title}</h1>
      <a href={contentPath} rel="nofollow">
        <em>edit ✏️</em>
      </a>
      <Content />
    </main>
  </body>
</html>
