---
import {SEO} from "astro-seo"

  type BlogPost = {
    frontmatter: {
      slug: string
      title: string
      description?: string
      banner?: string
    }
    file: string
    Content: () => any
  }
export const getStaticPaths = async () => {


  const posts = await Astro.glob<BlogPost>("../content/blog/**/*.md*")

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
  }))
}

const posts = await Astro.glob<BlogPost>("../content/blog/**/*.md*")
const {slug} = Astro.params
const post = posts.find((post) => post.frontmatter.slug === slug) || {
  Content: () => null,
}

const {Content, frontmatter} = post

const sanitizeTitle = (title: string) => {
  return title
    .replace(/[^\w\s-]/g, '') // Remove special characters
    .trim()
}

const ogImage = `https://res.cloudinary.com/badass-courses/image/upload/w_1200,h_630,c_fill,f_auto/w_1020,h_450,c_fit,co_rgb:FFFFFF,g_west,x_90,y_-40,l_text:Roboto_60_left_bold:${encodeURIComponent(
  sanitizeTitle(frontmatter.title)
)}/v1731357274/social-image-templates/joelhooks-com_sbhjby.png`

const contentPath = `https://github.com/joelhooks/joelhooks-astro/edit/main/src/content/blog${
  post.file.split("src/content/blog")[1]
}`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={frontmatter?.title}
      description={frontmatter?.description}
      twitter={{
        card: "summary_large_image",
        site: "@jhooks",
        creator: "@jhooks",
      }}
      openGraph={{
        image: {
          alt: "Joel Hooks",
        },
        basic: {
          title: frontmatter.title,
          type: "article",
          image: ogImage,
        },
        optional: {
          description: frontmatter.description,
        },
      }}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main class="prose sm:px-20 px-2 pb-20">
      <a href="/">Home</a>
      {
        frontmatter?.banner && (
          <img
            src={`https://joelhooks.com${frontmatter.banner}`}
            alt={frontmatter.title}
            class="w-full"
          />
        )
      }
      <h1 class="pt-6">{frontmatter.title}</h1>
      <a href={contentPath} rel="nofollow">
        <em>edit ✏️</em>
      </a>
      <Content />
    </main>
  </body>
</html>
